<div class="jumbotron center">
  <h1>Welcome to Games Central<h1>
  <h2>The best place to find all things games!<h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row center">
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Hello</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>How are you?</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>More words</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
</div>

