<h1 align="center">Listing all Games</h1>
<hr />

<% @games.each do |game| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">

      </section>
    </div>
    <div class="col-md-8 well">
      <h3><%= game.name %></h3>
      <p><%= truncate(game.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(game.created_at)%> ago</small></span>
      </p>
    </div>
  </div>

<% end %>