$navbar-default-bg: purple;
$navbar-default-border: red;

$navbar-default-link-color: white;
$navbar-default-link-hover-color: $navbar-default-link-color;

$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);
$navbar-default-brand-hover-bg: $navbar-default-link-hover-bg;

.nav.navbar-nav.navbar-right li a {
    color: white;
}


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron h2 {
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: purple;
}

.jumbotron {
  background-image: asset-url('controller.jpg');
  background-size: cover;
  height: 300px;
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #ff2323;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: purple;
}


footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well a {
  color: purple;
}

.player_info {
  margin-top: 10px;
}

.colormatch a {
  color: purple;
}

.game-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.player-title {
  color: purple;
  font-weight: bold;
  font-size: 1.25em;
}